.pyc
exp.out
TRAIN
TRAIN-ALL
embeddings/smiley_tweets_embedding_final
embeddings/updated_embeddings_custom_30M
.idea/
.py~
semeval_parsed
~
semeval/smiley_tweets_200M.gz
semeval/smiley_tweets_200M_balanced.gz
